In [1]:
import pandas as pd
import numpy as np
#import keras
#import tensorflow as tf
#from keras import layers
#from tensorflow.keras.layers import Dense
#import random
print("imports OK")

In [ ]:
df = pd.read_csv("../../our_data/output/PresenceAbsenceSurveys/GLC24-PA-metadata-train.csv")
bios = pd.read_csv("../../our_data/output/EnvironmentalRasters/Climate/GLC24-PA-train-bioclimatic-average.csv")
bios = bios.fillna(bios.mean())
elev = pd.read_csv("../../our_data/output/EnvironmentalRasters/Elevation/GLC24-PA-train-elevation.csv")
elev = elev.fillna(elev.mean())
human = pd.read_csv("../../our_data/output/EnvironmentalRasters/HumanFootprint/GLC24-PA-train-human-footprint.csv")
human = human.fillna(human.mean())
land = pd.read_csv("../../our_data/output/EnvironmentalRasters/LandCover/GLC24-PA-train-landcover.csv")
land = land.fillna(land.mean())
soil = pd.read_csv("../../our_data/output/EnvironmentalRasters/Soilgrids/GLC24-PA-train-soilgrids.csv")
soil = soil.fillna(soil.mean())

print("Lecture dfs OK")

df_final = pd.merge(df, bios, on="surveyId", how="inner")
df_final = pd.merge(df_final, elev, on='surveyId', how='inner')
df_final = pd.merge(df_final, human, on='surveyId', how='inner')
df_final = pd.merge(df_final, land, on='surveyId', how='inner')
df_final = pd.merge(df_final, soil, on='surveyId', how='inner')

print("Fusion OK")

In [3]:
aggregations = {'speciesId': lambda x: list(x)}  # Colonnes avec des listes
for col in df_final.columns:
    if col != 'surveyId' and col != 'speciesId':
        aggregations[col] = 'first'
        
unique_df = df_final.groupby('surveyId').agg(aggregations).reset_index()

print("Aggregation OK")

,surveyId,speciesId,lon,lat,year,geoUncertaintyInM,areaInM2,region,country,Bio1,...,Bio10,Bio11,Bio12,Bio13,Bio14,Bio15,Bio16,Bio17,Bio18,Bio19
0,212,"[6874.0, 476.0, 11157.0, 8784.0, 4530.0, 10520...",3.099038,43.134956,2021,5.0,100.0,MEDITERRANEAN,France,2883,...,2958,2816,6355,933,143,395,2282,770,770,1917
1,222,"[9816.0, 540.0, 4499.0, 433.0, 254.0]",9.884560,56.912140,2017,10.0,79.0,CONTINENTAL,Denmark,2815,...,2890,2746,7286,792,376,201,2283,1336,2076,1653
2,243,"[5386.0, 3227.0, 6079.0, 254.0, 6964.0, 1387.0...",8.256020,55.637050,2019,10.0,79.0,ATLANTIC,Denmark,2821,...,2888,2759,8546,1117,372,295,2986,1438,2448,1838
3,324,"[9028.0, 2386.0, 694.0, 9388.0, 146.0, 6788.0]",-0.402590,43.505630,2018,1.0,NaN,ATLANTIC,France,2870,...,2938,2802,10719,1163,564,197,3216,1948,1948,2926
4,333,"[2474.0, 981.0, 3935.0, 8151.0, 10247.0, 5189....",-0.517360,45.806430,2017,1.0,NaN,ATLANTIC,France,2858,...,2927,2792,9353,1095,503,249,3186,1638,1638,2677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88982,3919553,"[6310.0, 9005.0, 2885.0, 643.0, 2262.0, 9707.0...",10.327990,57.305850,2018,10.0,79.0,CONTINENTAL,Denmark,2817,...,2887,2752,8000,919,408,218,2505,1425,2187,1723
88983,3919592,"[963.0, 6962.0, 6989.0, 10600.0]",15.003900,55.090170,2017,10.0,707.0,CONTINENTAL,Denmark,2812,...,2888,2748,6932,781,314,240,2242,1214,2029,1498
88984,3919620,"[9816.0, 4077.0, 3067.0, 11140.0, 540.0, 2961....",8.935060,55.461500,2018,10.0,79.0,ATLANTIC,Denmark,2815,...,2887,2746,9745,1201,440,246,3167,1718,2489,2413
88985,3919640,"[304.0, 3294.0, 7333.0, 1539.0, 10223.0, 5322....",17.252948,53.901434,2021,5.0,25.0,CONTINENTAL,Poland,2808,...,2895,2722,7301,816,390,211,2357,1336,2357,1558
88986,3919655,"[791.0, 4638.0, 10317.0, 6989.0, 6079.0, 5189....",9.913980,56.827580,2018,10.0,707.0,CONTINENTAL,Denmark,2812,...,2887,2744,7672,828,398,197,2397,1421,2176,1750

In [11]:
liste_espece = list(set(df_final["speciesId"].to_list()))

columns = []
for j in range(len(liste_espece)):
    print(j)
    column = []
    for i in range(len(unique_df)):
        if liste_espece[j] in unique_df["speciesId"][i] :
            column.append(1)
        else:
            column.append(0)
    columns.append(column)

all_infos_df = unique_df.copy()
for i in range(len(columns)):
    all_infos_df[int(liste_espece[i])] = columns[i]
    
print("matrice O 1 OK")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
matrice O 1 OK

In [12]:
all_infos_df = all_infos_df.drop(columns=["speciesId", "region", 'country', 'areaInM2'])
print("colonnes supprimées")

,surveyId,lon,lat,year,geoUncertaintyInM,Bio1,Bio2,Bio3,Bio4,Bio5,...,12,14,15,16,18,24,28,29,30,32
0,212,3.099038,43.134956,2021,5.0,2883,68,3,5545,3007,...,0,0,0,0,0,0,0,0,0,0
1,222,9.884560,56.912140,2017,10.0,2815,59,2,5690,2935,...,0,0,0,0,0,0,0,0,0,0
2,243,8.256020,55.637050,2019,10.0,2821,26,1,5150,2910,...,0,0,0,0,0,0,0,0,0,0
3,324,-0.402590,43.505630,2018,1.0,2870,90,3,5315,2992,...,0,0,0,0,0,0,0,0,0,0
4,333,-0.517360,45.806430,2017,1.0,2858,81,3,5285,2982,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88982,3919553,10.327990,57.305850,2018,10.0,2817,30,1,5398,2913,...,0,0,0,0,0,0,0,0,0,0
88983,3919592,15.003900,55.090170,2017,10.0,2812,19,1,5540,2909,...,0,0,0,0,0,0,0,0,0,0
88984,3919620,8.935060,55.461500,2018,10.0,2815,59,2,5564,2931,...,0,0,0,0,0,0,0,0,0,0
88985,3919640,17.252948,53.901434,2021,5.0,2808,66,2,6775,2945,...,0,0,0,0,0,0,0,0,0,0
88986,3919655,9.913980,56.827580,2018,10.0,2812,57,2,5649,2931,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
all_infos_df.to_csv("../../our_data/data_ter_distribution/outputed_csv/all_infos.csv", sep=',')

print("csv outputed")