In [2]:
import pandas as pd

In [29]:
blind = pd.read_csv("../Data/Data_submission/test_blind.csv", sep=";") # Jeu de données pour la prédiction et soumission Kaggle
#sparound = pd.read_csv("../Data/test_spAround_1km.csv", sep=";")
#enviro = pd.read_csv("../Data/enviroTab_pa_test.csv", sep=";")
presences = pd.read_excel("../Data/Data_train/Presences_Absences_train.xlsx") # Jeu de données pour les infos présences absences

In [7]:
# Affichage jeu de donnée
blind

,Id,datasetName,date,dayOfYear,year,patchID,timeSerieID,lon,lat,x_EPSG3035,y_EPSG3035,geoUncertaintyInM
0,1,CBNMed,1629064800,228,2021,10125,3988380,1.729607,42.52171,3.640762e+06,2.194746e+06,5.0
1,2,CBNMed,1629064800,228,2021,10126,3997090,1.729624,42.52177,3.640764e+06,2.194753e+06,4.0
2,3,CBNMed,1629064800,228,2021,10127,4001106,1.729652,42.52197,3.640769e+06,2.194775e+06,5.0
3,4,CBNMed,1629064800,228,2021,10129,4004605,1.729671,42.52192,3.640770e+06,2.194769e+06,6.0
4,5,CBNMed,1531346400,193,2018,10154,3987660,1.826847,42.57452,3.649316e+06,2.199695e+06,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
22399,22400,Inventaire forestier IGN,2018-03-14,73,2018,3018864,3990152,9.421020,42.38755,4.273164e+06,2.142680e+06,1.0
22400,22401,Inventaire forestier IGN,2018-03-22,81,2018,3018865,3986840,9.429860,42.26077,4.273796e+06,2.128639e+06,1.0
22401,22402,Inventaire forestier IGN,2017-03-13,72,2017,3018866,3993669,9.462680,42.92578,4.277004e+06,2.202255e+06,1.0
22402,22403,Inventaire forestier IGN,2017-03-15,74,2017,3018867,3993567,9.497790,42.41844,4.279528e+06,2.146054e+06,1.0
22403,22404,Inventaire forestier IGN,2017-06-06,157,2017,3018868,3989987,9.537180,42.34364,4.282734e+06,2.137752e+06,1.0

In [10]:
# Comptage du nombre d'occurence de chaque espèce dans le jeu de données des présences
# -> établir espèces les plus présentes 
nb_especes = presences["speciesId"] 
nb_especes = nb_especes.to_frame()
nb_especes['count'] = 1
sumup = nb_especes.groupby('speciesId').sum()
sumup = sumup.sort_values("count", ascending=False)
sumup

           count
speciesId
4284        1925
8935        1885
5959        1564
386         1182
5314        1023
...          ...
4077           1
4082           1
8343           1
4137           1
5189           1

[2174 rows x 1 columns]

In [13]:
top_100= []
# On extrait les 50 plus présentes et on récupère leurs Ids
i=0
while i< 100 :
    value = sumup.iloc[i]["count"]
    top_100 += sumup[sumup["count"]==value].index.tolist()
    i+=1

In [14]:
# Construction de la variable str 'predict' qui sera associé aux ids du csv blind pour soumission Kaggle 
predict = ''
for i in top_100 :
    predict +=str(i)+ " "

In [17]:
# Ajout colonne Predicted à une copie de blind
most_present = blind.copy()
most_present["Predicted"] = predict

In [18]:
# Construction du csv de soumission avec uniquement colonnes utiles
most_present_test = most_present[["Id", "Predicted"]]
most_present_test

          Id                                          Predicted
0          1  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
1          2  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
2          3  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
3          4  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
4          5  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
...      ...                                                ...
22399  22400  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22400  22401  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22401  22402  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22402  22403  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22403  22404  4284 8935 5959 386 5314 6837 2509 9347 1005 93...

[22404 rows x 2 columns]

In [19]:
# Modification format pour suppression des indices de lignes
most = most_present_test.groupby(by="Id").sum()
most

                                               Predicted
Id
1      4284 8935 5959 386 5314 6837 2509 9347 1005 93...
2      4284 8935 5959 386 5314 6837 2509 9347 1005 93...
3      4284 8935 5959 386 5314 6837 2509 9347 1005 93...
4      4284 8935 5959 386 5314 6837 2509 9347 1005 93...
5      4284 8935 5959 386 5314 6837 2509 9347 1005 93...
...                                                  ...
22400  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22401  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22402  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22403  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22404  4284 8935 5959 386 5314 6837 2509 9347 1005 93...

[22404 rows x 1 columns]

In [ ]:
# Ecriture du df en csv
most.to_csv("most_present_test2.csv")

In [20]:
import random
# Définition de la fonction random_species
def random_species(df):
    """
    df = jeu de donnée train
    
    La fonction a pour but de retourner 5 espèce aléatoirement parmi les N présentes dans le dataframe
    -> Retour des 5 espèces en chaine de caractère
    """
    random_5= []
            # On extrait les 5 valeurs au hasard et on récupère leurs Ids
    i=0
    nb_species = len(df.index)
    while i< 5 :
        alea = random.randint(0, nb_species-1) 
        value = df.iloc[alea]
        if value.name not in random_5 :  
            random_5.append(value.name)
            i+=1

    predict = ''
    for i in random_5 :
        predict +=str(i)+ " "
    return predict
# fonction qui retourn 5 espèce aléatoires

In [25]:
# test de la fonction 
random_species(sumup)

'8093 9650 2028 5305 5970 '

In [27]:
# Création d'un df copie de blind avec une création de predicted aléatoire pour chaque ligne du df
random_test = blind.copy()
random_sp = []
for i in range (0, len(random_test.index)) :
    random_sp.append(random_species(sumup))

    
random_test["Predicted"] = random_sp

In [28]:
# On isole les colonnes utiles de Id et predicted
random = random_test[['Id', 'Predicted']]

In [151]:
# Transformation pour suppression des indices de lignes et écriture csv
randoms = random.groupby(by="Id").sum()
randoms.to_csv("random_test.csv")