In [2]:
import pandas as pd

In [12]:
blind = pd.read_csv("../Data/test_blind.csv", sep=";") #fichier csv qui sera merge pas les prédiction et soumis sur Kaggle
presences = pd.read_excel("../Data/Presences_Absences_train.xlsx") #fichier csv presences/absences

In [13]:
blind

,Id,datasetName,date,dayOfYear,year,patchID,timeSerieID,lon,lat,x_EPSG3035,y_EPSG3035,geoUncertaintyInM
0,1,CBNMed,1629064800,228,2021,10125,3988380,1.729607,42.52171,3.640762e+06,2.194746e+06,5.0
1,2,CBNMed,1629064800,228,2021,10126,3997090,1.729624,42.52177,3.640764e+06,2.194753e+06,4.0
2,3,CBNMed,1629064800,228,2021,10127,4001106,1.729652,42.52197,3.640769e+06,2.194775e+06,5.0
3,4,CBNMed,1629064800,228,2021,10129,4004605,1.729671,42.52192,3.640770e+06,2.194769e+06,6.0
4,5,CBNMed,1531346400,193,2018,10154,3987660,1.826847,42.57452,3.649316e+06,2.199695e+06,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
22399,22400,Inventaire forestier IGN,2018-03-14,73,2018,3018864,3990152,9.421020,42.38755,4.273164e+06,2.142680e+06,1.0
22400,22401,Inventaire forestier IGN,2018-03-22,81,2018,3018865,3986840,9.429860,42.26077,4.273796e+06,2.128639e+06,1.0
22401,22402,Inventaire forestier IGN,2017-03-13,72,2017,3018866,3993669,9.462680,42.92578,4.277004e+06,2.202255e+06,1.0
22402,22403,Inventaire forestier IGN,2017-03-15,74,2017,3018867,3993567,9.497790,42.41844,4.279528e+06,2.146054e+06,1.0
22403,22404,Inventaire forestier IGN,2017-06-06,157,2017,3018868,3989987,9.537180,42.34364,4.282734e+06,2.137752e+06,1.0

In [14]:
nb_especes = presences["speciesId"]
nb_especes = nb_especes.to_frame()
nb_especes['count'] = 1
sumup = nb_especes.groupby('speciesId').sum()
sumup = sumup.sort_values("count", ascending=False)
# On compte le nombre d'espèce et leur occurence 
sumup

           count
speciesId
4284        1925
8935        1885
5959        1564
386         1182
5314        1023
...          ...
4077           1
4082           1
8343           1
4137           1
5189           1

[2174 rows x 1 columns]

In [15]:
top_50= []
# On extrait les 50 plus présentes et on récupère leurs Ids
i=0
while i< 50 :
    value = sumup.iloc[i]["count"]
    top_50 += sumup[sumup["count"]==value].index.tolist()
    i+=1

In [19]:
predict = ''
for i in top_50 :
    predict +=str(i)+ " "
predict

'4284 8935 5959 386 5314 6837 2509 9347 1005 9329 9906 9329 9906 3069 5763 7648 515 7570 801 6361 24 795 5263 8079 5989 9330 8987 4218 268 4906 8741 9474 8741 9474 1662 9118 6574 9075 3833 7426 7787 4064 1384 1333 1849 7256 1283 7822 2854 849 2855 99 265 4059 '

In [23]:
most_present = blind.copy()
most_present["Predicted"] = predict
most_present

,Id,datasetName,date,dayOfYear,year,patchID,timeSerieID,lon,lat,x_EPSG3035,y_EPSG3035,geoUncertaintyInM,Predicted
0,1,CBNMed,1629064800,228,2021,10125,3988380,1.729607,42.52171,3.640762e+06,2.194746e+06,5.0,4284 8935 5959 386 5314 6837 2509 9347 1005 93...
1,2,CBNMed,1629064800,228,2021,10126,3997090,1.729624,42.52177,3.640764e+06,2.194753e+06,4.0,4284 8935 5959 386 5314 6837 2509 9347 1005 93...
2,3,CBNMed,1629064800,228,2021,10127,4001106,1.729652,42.52197,3.640769e+06,2.194775e+06,5.0,4284 8935 5959 386 5314 6837 2509 9347 1005 93...
3,4,CBNMed,1629064800,228,2021,10129,4004605,1.729671,42.52192,3.640770e+06,2.194769e+06,6.0,4284 8935 5959 386 5314 6837 2509 9347 1005 93...
4,5,CBNMed,1531346400,193,2018,10154,3987660,1.826847,42.57452,3.649316e+06,2.199695e+06,0.0,4284 8935 5959 386 5314 6837 2509 9347 1005 93...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22399,22400,Inventaire forestier IGN,2018-03-14,73,2018,3018864,3990152,9.421020,42.38755,4.273164e+06,2.142680e+06,1.0,4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22400,22401,Inventaire forestier IGN,2018-03-22,81,2018,3018865,3986840,9.429860,42.26077,4.273796e+06,2.128639e+06,1.0,4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22401,22402,Inventaire forestier IGN,2017-03-13,72,2017,3018866,3993669,9.462680,42.92578,4.277004e+06,2.202255e+06,1.0,4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22402,22403,Inventaire forestier IGN,2017-03-15,74,2017,3018867,3993567,9.497790,42.41844,4.279528e+06,2.146054e+06,1.0,4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22403,22404,Inventaire forestier IGN,2017-06-06,157,2017,3018868,3989987,9.537180,42.34364,4.282734e+06,2.137752e+06,1.0,4284 8935 5959 386 5314 6837 2509 9347 1005 93...

In [24]:
most_present_test = most_present[["Id", "Predicted"]]
most_present_test

          Id                                          Predicted
0          1  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
1          2  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
2          3  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
3          4  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
4          5  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
...      ...                                                ...
22399  22400  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22400  22401  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22401  22402  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22402  22403  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22403  22404  4284 8935 5959 386 5314 6837 2509 9347 1005 93...

[22404 rows x 2 columns]

In [25]:
most = most_present_test.groupby(by="Id").sum()
most

                                               Predicted
Id
1      4284 8935 5959 386 5314 6837 2509 9347 1005 93...
2      4284 8935 5959 386 5314 6837 2509 9347 1005 93...
3      4284 8935 5959 386 5314 6837 2509 9347 1005 93...
4      4284 8935 5959 386 5314 6837 2509 9347 1005 93...
5      4284 8935 5959 386 5314 6837 2509 9347 1005 93...
...                                                  ...
22400  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22401  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22402  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22403  4284 8935 5959 386 5314 6837 2509 9347 1005 93...
22404  4284 8935 5959 386 5314 6837 2509 9347 1005 93...

[22404 rows x 1 columns]

In [27]:
most.to_csv("most_present_test2.csv")

In [26]:
sumup

           count
speciesId
4284        1925
8935        1885
5959        1564
386         1182
5314        1023
...          ...
4077           1
4082           1
8343           1
4137           1
5189           1

[2174 rows x 1 columns]

In [28]:
import random
def random_species(df):
    random_5= []
            # On extrait les 5 valeurs au hasard et on récupère leurs Ids
    i=0
    nb_species = len(df.index)
    while i< 5 :
        alea = random.randint(0, nb_species-1) 
        value = df.iloc[alea]
        if value.name not in random_5 :  
            random_5.append(value.name)
            i+=1

    predict = ''
    for i in random_5 :
        predict +=str(i)+ " "
    return predict
# fonction qui retourn 5 espèce aléatoires

In [29]:
random_species(sumup)

'3322 5974 1258 4533 8509 '

In [30]:
random_test = blind.copy()
random_sp = []
for i in range (0, len(random_test.index)) :
    random_sp.append(random_species(sumup))

    
random_test["Predicted"] = random_sp
random_test

,Id,datasetName,date,dayOfYear,year,patchID,timeSerieID,lon,lat,x_EPSG3035,y_EPSG3035,geoUncertaintyInM,Predicted
0,1,CBNMed,1629064800,228,2021,10125,3988380,1.729607,42.52171,3.640762e+06,2.194746e+06,5.0,5739 5892 6775 4143 1289
1,2,CBNMed,1629064800,228,2021,10126,3997090,1.729624,42.52177,3.640764e+06,2.194753e+06,4.0,7372 5017 1117 7883 644
2,3,CBNMed,1629064800,228,2021,10127,4001106,1.729652,42.52197,3.640769e+06,2.194775e+06,5.0,8952 1784 3048 7327 8799
3,4,CBNMed,1629064800,228,2021,10129,4004605,1.729671,42.52192,3.640770e+06,2.194769e+06,6.0,6674 7287 9396 1708 7904
4,5,CBNMed,1531346400,193,2018,10154,3987660,1.826847,42.57452,3.649316e+06,2.199695e+06,0.0,5721 7301 6019 7164 8712
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22399,22400,Inventaire forestier IGN,2018-03-14,73,2018,3018864,3990152,9.421020,42.38755,4.273164e+06,2.142680e+06,1.0,1830 1741 9233 6383 8121
22400,22401,Inventaire forestier IGN,2018-03-22,81,2018,3018865,3986840,9.429860,42.26077,4.273796e+06,2.128639e+06,1.0,7652 2366 9475 7901 5302
22401,22402,Inventaire forestier IGN,2017-03-13,72,2017,3018866,3993669,9.462680,42.92578,4.277004e+06,2.202255e+06,1.0,4922 3350 5664 217 9664
22402,22403,Inventaire forestier IGN,2017-03-15,74,2017,3018867,3993567,9.497790,42.41844,4.279528e+06,2.146054e+06,1.0,2226 3406 5815 307 9394
22403,22404,Inventaire forestier IGN,2017-06-06,157,2017,3018868,3989987,9.537180,42.34364,4.282734e+06,2.137752e+06,1.0,3659 4725 8913 4946 5492

In [32]:
random = random_test[['Id', 'Predicted']]
random

          Id                  Predicted
0          1  5739 5892 6775 4143 1289
1          2   7372 5017 1117 7883 644
2          3  8952 1784 3048 7327 8799
3          4  6674 7287 9396 1708 7904
4          5  5721 7301 6019 7164 8712
...      ...                        ...
22399  22400  1830 1741 9233 6383 8121
22400  22401  7652 2366 9475 7901 5302
22401  22402   4922 3350 5664 217 9664
22402  22403   2226 3406 5815 307 9394
22403  22404  3659 4725 8913 4946 5492

[22404 rows x 2 columns]

In [33]:
randoms = random.groupby(by="Id").sum()
randoms.to_csv("random_test.csv")

In [ ]:
def k_voisins(k, data_, data_)